<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591494154369-obcia02025js6ufqrpqi90pkr2pgo8cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591494154369-obcia02025js6ufqrpqi90pkr2pgo8cf</string>
	<key>API_KEY</key>
	<string>AIzaSyCQF02ybPnDmvtLW1RTs2MJfkey-ev8Cls</string>
	<key>GCM_SENDER_ID</key>
	<string>591494154369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.complaintPortal</string>
	<key>PROJECT_ID</key>
	<string>complaint-portal-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>complaint-portal-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591494154369:ios:3afedc6f6db0a1ce1de580</string>
	<key>DATABASE_URL</key>
	<string>https://complaint-portal-flutter-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>